automation.nikivs.com, www.automation.nikivs.com {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/private.key
    reverse_proxy n8n:5678
}

chat.nikivs.com {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/private.key
    reverse_proxy librechat:3080
}

brain.nikivs.com {
    # If you are using FastAPI, it runs on port 8000 by default
    reverse_proxy brain-mcp:8000
}
