version: '3.8'

volumes:
  n8n_data:
    external: true
  caddy_data:
  caddy_config:

services:
  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - n8n

  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    environment:
      - N8N_HOST=automation.nikivs.com
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=production
      - WEBHOOK_URL=https://automation.nikivs.com/
      - GENERIC_TIMEZONE=Europe/Sofia
    volumes:
      - n8n_data:/home/node/.n8n
      - ./local_files:/files